@{
    ViewData["Title"] = "About";
    ViewData["Nama"] = "Ihsan Miftahul Huda";
}

<h1>@ViewData["Title"]</h1>

<div class="card col-md-4">
    <img src="~/images/profile.svg" alt="">
    <div class="card-body">
        <h5 class="card-title">@ViewData["nama"]</h5>
        <p class="card-text">
            @ViewData["divisi"]
        </p>
        <small>@ViewData["divisi"] - @ViewData["role"]</small>
    </div>
</div>